In [1]:
%defaultDatasource jdbc:h2:mem:db

In [14]:
DROP TABLE IF EXISTS Pessoa;
DROP TABLE IF EXISTS Cidade;

In [15]:
CREATE TABLE Cidade (
  Nome_Cidade VARCHAR(100) NOT NULL,
  Sigla_Estado VARCHAR(2) NOT NULL,
  PRIMARY KEY(Nome_Cidade)
);

CREATE TABLE Pessoa (
  Nome VARCHAR(100) NOT NULL,
  Nome_da_Mae VARCHAR(100) NOT NULL,
  Ano_de_Nascimento INTEGER NOT NULL,
  Nome_da_Cidade_Natal VARCHAR(100) NOT NULL,
  
  PRIMARY KEY(Nome),
  FOREIGN KEY(Nome_da_Cidade_Natal)
    REFERENCES Cidade(Nome_Cidade)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,  
);

In [16]:
INSERT INTO Cidade VALUES ('São Paulo', 'SP');
INSERT INTO Cidade VALUES ('Valinhos', 'SP');
INSERT INTO Cidade VALUES ('Serra Negra', 'SP');
INSERT INTO Cidade VALUES ('Jaguariúna', 'SP');

In [17]:
INSERT INTO Pessoa VALUES ('Áureo Henrique Silva', 'Eduarda de Almeida Silva', 2015,'São Paulo');
INSERT INTO Pessoa VALUES ('Eduardo Gomes', 'Doriana da Mata Gomes', 1975,'Valinhos');
INSERT INTO Pessoa VALUES ('Vanessa Lopes', 'Letícia França Lopes', 1976,'Serra Negra');
INSERT INTO Pessoa VALUES ('Carla Silva', 'Melissa do Carmo da Silva', 1981,'Jaguariúna');

In [18]:
SELECT * FROM Cidade;

In [19]:
SELECT * FROM Pessoa;

In [20]:
SELECT Nome_da_Mae FROM Pessoa;

In [21]:
SELECT Nome_da_Mae FROM Pessoa WHERE (2021 - Ano_de_Nascimento) > 12;